*{
    margin: 0;
    padding: 0;
}
body{
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: #f4f2ec url(../img/fundo.png) repeat-x;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
/*formatação geral dos links*/
a:link, a:active, a:visited{
    color: #af670a;
    text-decoration: none;
}
/*formatação css do logo*/
#logo h1{
    float: left;
}
#logo a{
    width: 248px;
    height: 21px;
    display: block;
    background: url(../img/logo.png) no-repeat;
    text-indent: -9000px;
}
header{
    padding: 15px 0;
    height: 55px;
}
/*formatação css do menu de navegação*/
nav ul{
    margin: 20px;
    float: right;
    list-style-type: none;
}
nav ul li{
    float: left;
}
nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
nav ul li a:hover{
    border-bottom: 1px solid #535858;
    color: #e6be8a;
}
/*formatação CSS do conteudo principal e da aside*/
#principal{
    width: 710px;
    float: left;
    margin-bottom: 30px;
}
aside{
    width: 350px;
    float: right;
    background: #ebe7dd;
    margin-bottom: 30px;
}
/*section visitas*/
section#visitas{
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}
section#visitas h4{
    text-transform: uppercase;
    color: #86521a;
    padding-bottom: 3px;
    margin-bottom: 0;
}
input[type=text]{
    height: 20px;
    width: 80px;
    border: none;
    font-size: 1em;
    text-indent: 5px;
}input[type=text].campo{
    border: 1px solid #ada484;
}
input[type=button]{
    height: 40px;
    width: 100%;
    border: 1px solid #ada484;
    background: #9b9271;
    color: #fff;
    font-size: 1.2em;
}
fieldset{
    border: none;
}
legend{
    display: none;
}
/*section galeria*/
section#galeria{
    padding: 27px 27px 27px 27px;
}
section#galeria h4{
    text-transform: uppercase;
    color: #86521a;
    padding-bottom: 3px;
    margin-bottom: 0;
}
section#galeria a{
    background: url(../img/fundo-foto.png) no-repeat;
    display: block;
    float: left;
    padding: 18px 18px 20px 15px;
    margin: 0 10px 0 10px;
    margin-bottom: 20px;    
}
/*formatação da section#postagem e os article#video e #mapa*/
h3{
    color: #227115;
    font: 1.0em;
    margin-bottom: 15px;
    text-transform: uppercase;
}
article#video{
    width: 310px;
    float: left;
    margin: 10px 0 0 25px;
}
article#exposicao{
    width: 310px;
    float: left;
    margin: 15px 0 0 25px;
}
article#exposicao ul{
    margin: 0 0 0 30px;
    list-style-type: decimal;
}
article#exposicao ul a{
    display: block;
    padding: 10px 0;
}
article a:hover{
    color: #e6be8a;
}
article#mapa{
    width: 310px;
    float: left;
    margin: 10px 0 0 37px;
}
article#sobre{
    width: 310px;
    float: left;
    margin: 15px 0 0 37px;
}
/*formatação do footer*/
footer{
    clear: both;
    background: url(../img/fundo-rodape.png) no-repeat center top;
    padding: 20px 0 30px 0;
    text-align: center;
}
footer p{
    margin-top: 20px;
    margin-bottom: 25px;
}
footer>p a{
    padding: 0 10px 0 10px;
}